*.exe
*.user
*.ncb
*.suo
*.aps
Debug/
Release/
DebugPS/
Test/
*_i.c
*_p.c
*_i.h
*_p64.c
SolMan/SolMan.h
DasDCAgent/DasDCAgent.h
DasClientAgent/DasClientAgent.h
Thumbs.db
*.msi
*.filters
*.sdf
*.opensdf
ipch
x64/
DasClientAgent/TkMsg.h
DasClientAgent/TkMsg.rc
DasDCAgent/DasDCMsg.h
DasDCAgent/DasDCMsg.rc
*.tlog
*.wixobj
*.wixpdb
*.obj
.vs/
.vscode/
cximage
