.input:empty { color: red; }

logon-box {
    prototype: LogonBox url(main.js);
    display:block;
  }

  on-demand-password {
    prototype: OnDemandPassword url(on-demand-password.js);
    display:block;
  }

  .sprite{
	image-rendering: optimize-quality;

}