.input:empty { color: red; }

logon-box {
    prototype: LogonBox url(main.js);
    display:block;
}

on-demand-password {
  prototype: OnDemandPassword url(on-demand-password.js);
  display:block;
}

.sprite{
	image-rendering: optimize-quality;

}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.dot {
  background: blue;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  flow: horizontal;
  align-items: center;
  text-align: center;
}